# Creating, Reading and Writing Data
---

In this notebook, you'll learn about pandas, the most popular Python library for data analysis.

pandas contains data structures and data manipulation tools designed to make data cleaning and analysis fast and easy in Python. It is often used in tandem with numerical computing tools like *NumPy* and *SciPy*, analytical libraries - *statsmodels* and *scikit-learn* - as well as data visualisation libraries like *matplotlib*. Compared to *NumPy* which is more suited for numerical array data, *pandas* is designed for working with tabular or heterogeneous data.

To better appreciate the use of *pandas*, I will introduce its two workhorse data structures - *Series* and *DataFrame*.

Firstly, we will need to import `pandas` library before proceeding:

In [1]:
import pandas as pd

## Creating data

There are two core objects in pandas: the **DataFrame** and the **Series**.

A DataFrame is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column.

For example, consider the following simple DataFrame:

In [2]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})  # pass in dictionary as parameter

   Yes   No
0   50  131
1   21    2

***Note***: *in Jupyter notebook, `pandas` DataFrame objects will be displayed as a more browser-friendly HTML table as an output.*

In this example, the "0, No" entry has the value of 131. The "0, Yes" entry has a value of 50, and so on.

DataFrame entries are not limited to integers. For instance, here's a DataFrame whose values are strings:

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

We are using the `pd.DataFrame()` constructor to generate these DataFrame objects. The syntax for declaring a new one is a dictionary whose keys are the column names (Bob and Sue in this example), and whose values are a list of entries. This is the standard way of constructing a new DataFrame, and the one you are most likely to encounter.

The dictionary-list constructor assigns values to the column labels, but just uses an ascending count from 0 (0, 1, 2, 3, ...) for the row labels. Sometimes this is OK, but oftentimes we will want to assign these labels ourselves.

The list of row labels used in a DataFrame is known as an **Index**. We can assign values to it by using an index parameter in our constructor:

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

Another common form of data passed to a DataFrame is a nested dict of dicts. This makes it convenient to convert data in such format to a DataFrame:

In [5]:
pd.DataFrame({'Bob': {'Product A': 'I liked it.', 'Product B': 'It was awful.'}, 
              'Sue': {'Product A': 'Pretty good.', 'Product B': 'Bland.'},
             })

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

Table below lists possible data inputs to DataFrame constructor:

**Type** | **Notes**
--- | ---
2D ndarray | A matrix of data, passing optional row and column labels
`dict` of arrays, lists or tuples | Each sequence becomes a column in the DataFrame; all sequences must be the same length
NumPy structured/record array | Treated as the "dict of arrays" case
`dict` of Series | Each value becomes a column; indexes from each Series are unioned together to form the result's row index if no explicit index is passed.
`dict` of `dicts` |  Each inner dict becomes a column; keys are unioned to form the row index as in the "dict of Series" case
List of `dicts` or Series | Each item becomes a row in the DataFrame; union of dict keys or Series indexes become the DataFrame's column labels
List of lists or tuples | Treated as the "2D ndarray" case
Another DataFrame | The DataFrame's indexes are used unless different ones are passed
NumPy MaskedArray | Like the "2D ndaaray" case except masked values become NA/missing in the DataFrame result

## Series

A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list. And in fact you can create one with nothing more than a list:

In [6]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

A Series is, in essence, a single column of a DataFrame. So you can assign column values to the Series the same way as before, using an index parameter. However, a Series does not have a column name, it only has one overall name:

In [7]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

Getting the list of index values from a Series

In [8]:
s_data = pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

print(s_data.index)
print(type(s_data.index))

print(list(s_data.index))  # convert to list

Index(['2015 Sales', '2016 Sales', '2017 Sales'], dtype='object')
<class 'pandas.core.indexes.base.Index'>
['2015 Sales', '2016 Sales', '2017 Sales']

We can get values of a Series in an array form

In [9]:
print(s_data.values)        # this is in numpy array format
print(type(s_data.values))

print(list(s_data.values))  # convert to list

[30 35 40]
<class 'numpy.ndarray'>
[30, 35, 40]

***Note:*** *ndarray is a type of object under numpy class. It is designed for greater efficiency in mind for storing and manipulating data compared to other built-in Python data structures.*

## Arithmethic Operations on Series

A useful Series feature is that it automatically aligns by index label in arithmetic operations:

In [10]:
s_data2 = pd.Series([15, 20, 35], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product B')

s_data + s_data2

2015 Sales    45
2016 Sales    55
2017 Sales    75
dtype: int64

What if we add two series with some differences in their indexes?

In [11]:
s_data3 = pd.Series([5, 10, 35], index=['2016 Sales', '2017 Sales', '2018 Sales'], name='Product C')

s_data + s_data3

2015 Sales     NaN
2016 Sales    40.0
2017 Sales    50.0
2018 Sales     NaN
dtype: float64

`2015 Sales` and `2018 Sales` now have missing values (represented by `NaN`) as `2015 Sales` is not present in `s_data3` whereas `2018 Sales` is not present in `s_data`. The resulting output is a union of the index pairs when adding objects with different indexes. 

To understand why this happens, remember `NaN` is a special value in Python whereby when you perform any arithmethic operations on it, the result will always be `NaN`. For the case of `2015 Sales` in the above example, the operation is basically summing `2015 Sales` value in `s_data` (30) to the corresponding value in `s_data3`, which is missing or `NaN` value. Thus the result will be `NaN`.

In [12]:
# illustration of NaN value
a = float("NaN")
a ** 4

nan

The Series and the DataFrame are intimately related. It's helpful to think of a DataFrame as actually being just a bunch of Series "glued together". We'll see more of this in the next section in this notebook

## Reading data

In [13]:
wine_reviews = pd.read_csv("../../datasets/wine-reviews/winemag-data-130k-v2.csv")

We can use the `shape` attribute to check how large the resulting DataFrame is:

In [14]:
wine_reviews.shape

(129971, 14)

So our new DataFrame has 130,000 records split across 14 different columns. That's almost 2 million entries!

We can examine the contents of the resultant DataFrame using the `head()` command, which grabs the first five rows:

In [15]:
wine_reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

The `pd.read_csv()` function is well-endowed, with over 30 optional parameters you can specify. For example, you can see in this dataset that the CSV file has a built-in index, which pandas did not pick up on automatically. To make pandas use that column for the `index` (instead of creating a new one from scratch), we can specify an index_col.

In [16]:
wine_reviews = pd.read_csv("../../datasets/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
wine_reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

By default, `read_csv()` will read the first row as the header row. However, a file will not always have a header row. Consider this example:

In [17]:
!cat examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

***Note:*** *Using an exclamation mark(!) before the command will pass the command to the underlying shell (not to the Python interpreter). In the example above, I used Linux `cat` command to print the raw contents of the file to the screen. For Windows systems, you can use `type` instead of `cat` to achieve the same effect*

To read the file using `read_csv()`, there are several options you can configure. You can allow pandas to assign default column names:

In [18]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

`pd.read_csv()` method also allows to take in a regular expression for the delimiter as a parameter. This is useful for handling files which might not have a fixed delimiter or using whitespace to separate the fields. Consider this file:

In [19]:
!cat examples/ex3.txt

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [20]:
pd.read_csv('examples/ex3.txt', sep='\s+')

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

pandas features a number of functions for reading tabular data as a DataFrame object. Table below summarises some of them, including `read_csv`
  
  **Function** | **Description**
  --- | ---
  `read_csv` | Load delimited data from a file, URL, or file-like object; use comma as default delimiter
  `read_fwf` | Read data in fixed-width column format (.e., no delimiters)
  `read_clipboard` | Version of `read_csv` that reads data from the clipboard; useful for converting tables from web pages
  `read_excel` | Read tabular data from an Excel XLS or XLSX file
  `read_hdf` | Read HDF5 files written by pandas
  `read_html` | Read all tables found in the given HTML document
  `read_json` | Read data from a JSON (JavaScript Object Notation) string representation
  `read_msgpack` | Read pandas data encoded using the MessagePack binary format
  `read_pickle` | Read an arbitrary object stored in Python pickle format
  `read_sas` | Read a SAS dataset stored in one of the SAS system's custom storage formats
  `read_sql` | Read the results of a SQL query (using SQLAlchemy) as a pandas DataFrame
  `read_stata` | Read a dataset from Stata file format
  `read_feather` | Read the Feather binary file format

## Writing Data

Data can also be exported to a delimited format. Using DataFrame's `to_csv()` method, we can write the data out to a comma-separated file:

In [21]:
data = pd.DataFrame({'Bob': {'Product A': 'I liked it.', 'Product B': 'It was awful.'}, 
              'Sue': {'Product A': 'Pretty good.', 'Product B': 'Bland.'},
             })

data.to_csv('examples/out.csv')

In [22]:
# invoking shell command to display file contents
!cat examples/out.csv

,Bob,Sue
Product A,I liked it.,Pretty good.
Product B,It was awful.,Bland.

Following sections include more advanced lessons on reading data that could come in other forms apart from csv file. You can skip to the next lesson on [indexing, selecting and assigning](https://github.com/colintwh/python-analysis/blob/master/indexing.ipynb) or carry on if you wish to learn more.

---

## JSON data

JSON (short for JavaScript Object Notation) has become one of the standard formats for sending data by HTTP request between web browsers and other applications. It is a much more free-form data format than a tabular text form like CSV. Here is a JSON example:

In [23]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

JSON is very nearly valid Python code, but with the exception of its null value null and some other nuances (e.g. disallowing trailing commas at the end of lists). The basic types are objects (dicts), arrays (lists), strings, numbers, booleans, and nulls. All of the keys in an object must be strings. 

There are several Python libraries for reading and writing JSON data. I'll use `json` here, as it is built into the Python standard library. To convert a JSON string to Python form, use `json.loads`:

In [24]:
import json

result = json.loads(obj)  # converts JSON to Python 'dict'
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

`json.dumps`, on the other hand, converts a Python object back to JSON:

In [25]:
asjson = json.dumps(result)
print(asjson)

{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}

The `pandas.read_json` can automatically convert JSON datasets in specific arrangements into a Series or DataFrame. The default options for `pandas.read_json` assume each object in the JSON array is a row in the table:

In [26]:
!cat examples/example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [27]:
data = pd.read_json('examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

For exporting data from pandas to JSON, one way is to use the `to_json` methods on Series and DataFrame:

In [28]:
print("{}".format(data.to_json()))  # convert to JSON - all in one record

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [29]:
print("\n{}".format(data.to_json(orient='records')))  # convert to JSON - preserve multiple records

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

## XML and HTML: Web Scraping

Python has many libraries for reading and writing data in the ubiquitous HTML and XML formats. Example libraries include lxml, Beautiful Soup, and html5lib. While lxml is comparatively much faster in general, the other libraries can better handle malformed HTML and XML files. 

`pandas` has a built-in function, `read_html()`, which uses libraries like lxml and Beautiful Soup to automatically parse tables out of HTML files as DataFrame objects. To show how this works, firstly we'll need a HTML file from [here](https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/banklist.html)) and to install some additional libraries (namely `lxml`, `beautifulsoup4` and `html5lib`) used by `read_html()`:

In [30]:
tables = pd.read_html('examples/fdic_failed_bank_list.html')  # convert to list of DataFrame objects
tables

[                             Bank Name           City  ST   CERT  \
 0                 The First State Bank  Barboursville  WV  14361
 1                   Ericson State Bank        Ericson  NE  18265
 2     City National Bank of New Jersey         Newark  NJ  21111
 3                        Resolute Bank         Maumee  OH  58317
 4                Louisa Community Bank         Louisa  KY  58112
 ..                                 ...            ...  ..    ...
 556                 Superior Bank, FSB       Hinsdale  IL  32646
 557                Malta National Bank          Malta  OH   6629
 558    First Alliance Bank & Trust Co.     Manchester  NH  34264
 559  National State Bank of Metropolis     Metropolis  IL   3815
 560                   Bank of Honolulu       Honolulu  HI  21029

                    Acquiring Institution       Closing Date
 0                         MVB Bank, Inc.      April 3, 2020
 1             Farmers and Merchants Bank  February 14, 2020
 2                        Industrial Bank   November 1, 2019
 3                     Buckeye State Bank   October 25, 2019
 4      Kentucky Farmers Bank Corporation   October 25, 2019
 ..                                   ...                ...
 556                Superior Federal, FSB      July 27, 2001
 557                    North Valley Bank        May 3, 2001
 558  Southern New Hampshire Bank & Trust   February 2, 2001
 559              Banterra Bank of Marion  December 14, 2000
 560                   Bank of the Orient   October 13, 2000

 [561 rows x 6 columns]]

In [31]:
failures = tables[0]  # retrieve DataFrame object in the list
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020"
1,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
2,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
3,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
4,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"

## Parsing XML with `lxml.objectify`

XML (eXtensible Markup Language) is another common structured data format supporting hierarchical, nested data with metadata. In the earlier example, the `pandas.read_html()` function uses either lxml or Beautiful Soup under the hood to parse data from HTML. We'll look at another example that parses data from a more general XML format from [here](https://data.ny.gov/Transportation/Metropolitan-Transportation-Authority-MTA-Monthly-/5xht-v2bs) that looks like this:

```xml
<response>
<row>
<row _id="row-3cac_6v3p_924a" _uuid="00000000-0000-0000-FF4E-F08E99D68BA9" _position="0" _address="https://data.ny.gov/resource/zzzz-zzzz/row-3cac_6v3p_924a">
<indicator_sequence>55512</indicator_sequence>
<parent_sequence>0</parent_sequence>
<agency_name>Metro-North Railroad</agency_name>
<indicator_name>Total Ridership </indicator_name>
<description>
The number of passengers from whom the agency receives a fare (cash, train tickets, time-based passes, etc.) Ridership data is preliminary and subject to revision as well as adjustments warranted by annual audit review.
</description>
<category>Service Indicators</category>
<frequency>M</frequency>
<desired_change>U</desired_change>
<indicator_unit>-</indicator_unit>
<decimal_places>0</decimal_places>
<period_year>2008</period_year>
<period_month>1</period_month>
<ytd_target>6475134.00</ytd_target>
<ytd_actual>6618443.00</ytd_actual>
<monthly_target>6475134.00</monthly_target>
<monthly_actual>6618443.00</monthly_actual>
<period>2008-01</period>
</row>
```

Using `lxml.objectify`, we parse the file and get a reference to the root node of the file:

In [32]:
from lxml import objectify

path = 'examples/ny_mta_data.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

For each record, we can populate a dict of tag names (e.g. `ytd_actual`) to data values (excluding a few tags):

In [33]:
data = []    # initialise empty list
skip_fields = ['parent_sequence', 'indicator_sequence','desired_change','decimal_places']

for elem in root.row.row:   # traverse 2 levels pass response->row->row in xml doc
        el_data = {}        
        
        # we insert each tag and corresponding value in a dictionary before appending the dict entry to list of data
        for field in elem.getchildren():   
            if field.tag in skip_fields:      # skip those fields earlier list of skip_fields
                continue        
        
            el_data[field.tag] = field.pyval  # extract value
        data.append(el_data)                  # append one record each time

Lastly, we'll convert this list of dicts into a DataFrame:

In [34]:
perf = pd.DataFrame(data)
perf.head()

,agency_name,indicator_name,description,category,frequency,indicator_unit,period_year,period_month,ytd_target,ytd_actual,monthly_target,monthly_actual,period
0,Metro-North Railroad,Total Ridership,The number of passengers from whom the agency ...,Service Indicators,M,-,2008,1,6475134.0,6618443.0,6475134.0,6618443.0,2008-01
1,Metro-North Railroad,Total Ridership,The number of passengers from whom the agency ...,Service Indicators,M,-,2008,2,12520602.0,12919928.0,6045468.0,6301485.0,2008-02
2,Metro-North Railroad,Total Ridership,The number of passengers from whom the agency ...,Service Indicators,M,-,2008,3,19084109.0,19691414.0,6563507.0,6771486.0,2008-03
3,Metro-North Railroad,Total Ridership,The number of passengers from whom the agency ...,Service Indicators,M,-,2008,4,25895437.0,26650054.0,6811328.0,6958640.0,2008-04
4,Metro-North Railroad,Total Ridership,The number of passengers from whom the agency ...,Service Indicators,M,-,2008,5,32758164.0,33672738.0,6862727.0,7022684.0,2008-05

Each XML tag can have metadata too. Consider an HTML link tag, which is also valid XML:

In [35]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [36]:
print("{}\n".format(root.get('href')))
print("{}\n".format(root.text))

http://www.google.com

Google

## Binary Data Formats

One of the easiest ways to store data (also known as *serialization*) efficiently in binary format is using Python's built-in `pickle` serialization. pandas objects all have a `to_pickle()` method that writes the data to disk in pickle format:

In [37]:
!cat examples/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [38]:
frame = pd.read_csv('examples/ex1.csv')
frame.to_pickle('examples/frame_pickle')

You can read any "pickle" object stored in a file by using the built-in `pandas.read_pickle()`:

In [39]:
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

***Note:*** *`pickle` is only recommended as a short-term storage format. The problem is that it is not guaranteed that the format will be stable over time; an object pickled today may not unpickle with a later version of a library.*

## Reading Microsoft Excel Files

pandas also supports reading tabular data stored in Excel 2003 (and higher) files using either the `ExcelFile` class or `pandas.read_excel()` function. Internally these tools used the add-on package `xlrd` and `openpyxl` to read XLS and XLSX files, respectively. These must be installed separately from pandas (using either pip or conda).

To use `ExcelFile`, create an instance by passing a path to an `xls` or `xlsx` file. Data stored in a sheet can then be read into DataFrame with parse:

In [40]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')
pd.read_excel(xlsx, 'Sheet1')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Alternatively, you can also simply pass the filename to `pandas.read_excel()`:

In [41]:
writer = pd.ExcelWriter('examples/ex2.xlsx')
frame.to_excel(writer, 'Sheet1')
writer.save()

Likewise in the earlier example, you can also a file path to `to_excel()` method and avoid creating an `ExcelWriter` instance:

In [42]:
frame.to_excel('examples/ex2.xlsx')

## Interacting with Web APIs

Many websites have public APIs providing data feeds via JSON or some other format. There are a number of ways to access these APIs from Python: one easy-to-use method that I recommend is the `requests` package. 

To illustrate an example where we want to find the last 30 GitHub issues for pandas on GitHub, we can make a `GET HTTP` request using the add-on `requests` library:

In [43]:
import requests

url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

The Response object's `json()` method will return a dictionary containing JSON parsed into native Python objects:

In [44]:
data = resp.json()
data[0]['title']

'Update type hints for ExtensionArray and ExtensionDtype'

Each element in data is a dictionary containing all of the data found on a GitHub issue page (except for the comments). We can pass the data directly to DataFrame and extract fields of interest:

In [45]:
issues = pd.DataFrame(data, columns=['number','title','labels','state'])
issues.head()

,number,title,labels,state
0,39501,Update type hints for ExtensionArray and Exten...,[],open
1,39500,DOC: add example to insert (#39313),[],open
2,39499,BUG: use of partition_cols raises incompatibil...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
3,39498,REF: Move agg helpers into apply,"[{'id': 697792067, 'node_id': 'MDU6TGFiZWw2OTc...",open
4,39497,ENH: Enable parsing of ISO8601-like timestamps...,[],open

## Interacting with Databases

In a business setting, most data may not be stored in text or Excel files. SQL-based relational databases (such as SQL Server, PostgreSQL, and MySQL) are in wide use, and many alternative databases have become quite popular.

Loading data from SQL into a DataFrame is fairly straightforwrd, and pandas has some functions to simplify the process. As an example, I'll create a SQLLite database using Python's built-in `sqlite3` driver:

In [46]:
import sqlite3

query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

con = sqlite3.connect('examples/mydata.sqlite')

con.execute(query)

After creating the database and table, we can insert a few rows of data:

In [47]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]

stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

Most Python SQL drivers (PyODBC, psycopg2, MySQLdb, pymssql, etc.) return a list of tuples when selecting data from a table:

In [48]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

You can pass the list of tuples to the DataFrame constructor, but you also need the column names, which can be extracted from cursor's `description` attribute:

In [49]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [50]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

The SQLAlchemy project is a popular Python SQL toolkit that abstracts away many of the common differences between SQL databases. pandas has a `read_sql()` function that enables you to read data easily from a general SQLAlchemy connection. Here, we'll connect to the same SQLite database with SQLAlchemy and read data from the table created before:

In [51]:
import sqlalchemy as sqla

db = sqla.create_engine('sqlite:///examples/mydata.sqlite')
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

Next up, we'll learn about [indexing, selecting and assigning](https://github.com/colintwh/python-analysis/blob/master/indexing.ipynb)